body{
  font-family: "Montserrat", sans-serif;
  background-color: #1a1a1a;
}
.bg-primary,
.text-bg-primary{
  background-color: #3c38ff !important;
}
.bg-list-product{
  background-color: #eeeeee;
}
.shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
.bg-danger,
.text-bg-danger {
  background-color: #dc2626 !important;
}
.text-small{
  font-size: .8rem;
}
.product-cart{
  width: 300px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: em !important;
}
.product-cart::-webkit-scrollbar {
  width: 10px;
}
.product-cart::-webkit-scrollbar-track {
  background: #3c38ff;
  border-radius: 0 5px 5px 0;
}

.product-cart::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

@media ( 0 <= width < 992px) {
  .list-category,
  .group-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .btn-todo{
    margin: 0 .7rem 0 0;
  }
  .btn-filter,
  .btn-price-filter{
    background-color: #3c38ff !important;
    flex-grow: 1;
    margin: 0 .7rem 0 0;
  }
  .btn-price-filter{
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: 0 .5rem;
  }
  .fixed-top {
    position: relative !important;
    width: 100% !important;
    padding: 0 !important;
    margin-top: 10rem;
    z-index: 1;
  }
  .bg-list-product{
    border-radius: 1rem 1rem 0 0 !important;
    padding: 4rem 0 2rem 0 !important;
  }
  .title{
    position: fixed;
    top: 0;
    padding: 1rem 1.5rem !important;
    box-shadow: none !important;
  }
  .bar-position-sticky,
  .shopping{ 
    position: fixed !important;
    left: 0;
    border-radius: 0 !important;
    top:0;
    padding: 1rem 0;
  }
  .shopping {
      right: 1.5rem;
      width: 100 !important;
  }
  .notificacion {
      margin: 0 auto;
  }
}