body{
  font-family: "Montserrat", sans-serif;
  /* background-color: #1a1a1a;
  background-color: #030637; */
  background-color: #ebebeb;
}
.bg-header{
  background-color: #3C0753;
}
.text-title {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-image: linear-gradient(to right top, #e3ce0b, #ff9d12, #ff6446, #ff2278, #df0caa);
  background-clip: text;
  color: transparent;
}
.modal-scrollbar::-webkit-scrollbar {
  width: 12px;
}
.modal-scrollbar::-webkit-scrollbar-track {
  border-radius: 0 5px 5px 0;
}
.modal-scrollbar::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}
.shadow{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
              rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}
.shadow-sm{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid rgba(0, 0, 0, 0.16);
}
.section-carousel{
    margin-top: 8rem;
    margin-bottom: 2.5rem;
}
.text-shadow{
  text-shadow: 2px 2px 0 #3C0753, 
                      2px -2px 0 #3C0753, 
                      -2px 2px 0 #3C0753, 
                      -2px -2px 0 #3C0753, 
                      2px 0px 0 #3C0753, 
                      0px 2px 0 #3C0753, 
                      -2px 0px 0 #3C0753, 
                      0px -2px 0 #3C0753;
    color: #00bf72;
}
.bg-success{
  background-color: #00bf72 !important;
}
.shadow-button{
box-shadow: rgb(38, 57, 77) 0px 20px 15px -10px;
}
.bg-primary,
.text-bg-primary {
  background-color: #3c38ff !important;
}
.text-primary{
  color: #3c38ff !important;
}
.bg-danger,
.text-bg-danger {
  background-color: #dc2626 !important;
}
.section-product-details{
  min-height: 100vh;
}
@media (width < 768px ){
  .text-small{
    font-size: .7rem !important;
  }
  .search{
    width: 100% !important;
    border-radius: 6px !important;
  }
  .section-carousel{
    margin-top: 10rem;
  }
  .section-product-details{
    margin-bottom: 5rem;
  }
  .button-back{
    width: 100%;
  }
  .image-details{
    width: 100% !important;
  }
}
@media (768px <= width <= 992px ){
  .text-small{
    font-size: 1rem;
  }
  .search {
    width: 100% !important;
    border-radius: 6px !important;
  }
  .section-carousel {
    margin-top: 11.5rem;
  }
}